aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
INSTALL
install-sh
missing
Makefile
Makefile.in
common/config.h
*.o
libtool
ltmain.sh
depcomp
*.a
ar-lib
*/.deps/
*~
*.swp
common/stamp-h1
jugCLer/jugCLer
juliagpu/juliagpu
juliagpu/preprocessed_rendering_kernel.cl
mandelgpu/mandelgpu
smallptgpu/smallptgpu
smallptgpu/preprocessed_rendering_kernel.cl
